.register-form {
    background-color: #212429;
    width: 100% !important;
    color: #dadada;
    padding: 0 !important;
    padding-left: 25% !important;
}

.register-form input{
    width: 70%;
    background-color: #303338;
    border-color: #9c9b9b;
}

.register-form button {
    width: 70% !important;
}

.register-form button {
    background-color: #fa7c05;
}